@import "tailwindcss";

.bg-glow {
  margin: 0;
      min-height: 100vh;
      background: linear-gradient(135deg, rgb(28 8 61 / 100%) 30%, rgb(11 44 153) 50%, rgb(4 33 69 / 100%) 70%);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #fff;
}
header{
  box-shadow: 0px 0px 8px #1c1616e6;
}